.static-page {
font-weight: 200;
background-image: none;
}

.hr {
  height: 1px;
  border: none;
  // background-color: #e8e7e7;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}

#about-title h1 {
font-family: 'Righteous', cursive;
font-weight: 200;
margin: 36px, 0px;
line-height: 1;
}

#ourteam {
  // padding-bottom: 30px;
h2 {
  font-family: 'Righteous', cursive;
  font-weight: 150;
  margin: 36px, 0px;
  line-height: 1;
  color: #FFA500;
}
  }



.card-team {
  background-color: #FFFAF7;
  // border-radius: 50%;
  position: inherit;
  // width: 1152px;
  // height: 447px;
}


.avatar-extra-large {
// padding-top: px;
width: 150px;
height: 150px;
align-items: center;
justify-content: space-around;
position: relative;
border-radius:  50%;
margin-left: auto;
margin-right: auto;
}


.d-flex {
padding-top: 40px;

}


