.static-page {
  font-weight: 200;
  background-image: none;
  background-color: #FFFAF7;
  padding-bottom: 90px;
}

.team {
  padding-bottom: 32px;
}

.about-text {
  line-height: 2;
  margin-bottom: 40px;
}

.hr {
  height: 1px;
  border: none;
  // background-color: #e8e7e7;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}

#about-title {
  color: #FF5959 !important;
  margin-top: 40px;
  padding-bottom: 20px;
  h1 {
    font-weight: 200;
    margin: 36px, 0px;
    line-height: 1;
  }
}

#ourteam {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #FF5959 !important;
  h2 {
    font-weight: 150;
    margin: 36px, 0px;
    line-height: 1;
  }
}

.card-team {
  background-color: #FFF8F8;
  position: inherit;
}

.avatar-extra-large {
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-radius:  50%;
  margin-left: auto;
  margin-right: auto;
}
