// Specific CSS for your home-page
// Landing page
.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), asset-url('brandon.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  h1 {
    text-align: center;
    padding-top: 30vh;
    color: #FFA605;
    font-size: 72px;
    font-family: 'Roboto';
  }
  h3 {
    color: white;
    text-align: center;
  }
}

.searchbar {
  background-color: transparent;
  border: 1px solid #454545;
  border-radius: 4px;
  text-align: center;
  color: #454545;
}

.upcoming-events {
  padding: 60px 0;
  h2 {
    padding: 20px 0;
    color: #FFA605;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }
}

.event-container {
  background-color: #FFFAF7;
}

.upcoming-events-btn {
  margin-top: 40px ;
  padding: 10px 15px;
  border: 1px solid #FFA605;
  border-radius: 4px;
  color: #F9A468;
  &:hover {
    background-color: #FFA605;
    color: white;
    transition: 0.3s;
  }
}

.activity-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.each-event {
  height: 300px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 4px;
  p {
    color: #454545;
    font-size: 24px;
    text-decoration: none;
    margin: 0;
  }
  &:hover {
    transition: 0.3s;
    p {
      color: #454545;
      text-decoration: none;
      margin: 0;
    }
  }
}

.places-container {
  background-color: white;
}


.recommended-places {
  background-repeat: no-repeat;
  padding: 60px 0;
  h2 {
    padding: 20px 0;
    color: #FFA605;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }
}

.place-card {
  &:hover {
    h3 {
      font-size: 20px;
    }
  }
}

.place-card-info {
  h3 {
    color: #454545;
    text-decoration: none;
    font-size: 18px;
  }
  p {
    color: #454545;
    text-decoration: none;
  }
}
