.btn-outline-warning {
  background-color: #FFA605;
  color: white;
  border-radius: 1px;
  text-decoration: none;
  opacity: 1.0;
  box-shadow: none;
}

.btn-place {
  padding: 10px 20px;
  margin: 30px 0;
  color: #FF5959;
  border: 1px solid #FF5959;
  border-radius: 4px;
  background-color: transparent;
  &:hover {
    color: white;
    background-color: #FF5959;
    text-decoration: none;
    transition: 0.3s;
  }
}

.main-container {
  display: flex;
}

.place-container {
  display: grid;
  grid-template-columns: 300px 300px;
  img {
    border-radius: 4px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.places {
  margin-bottom: 24px;
  margin-right: 24px;
  position: relative;
  .place-rating {
    padding: 0;
    margin: 0;
    li {
      display: inline;
    }
  }
  .place-save {
    position: absolute;
    right: 0;
    bottom: -12px;
    .save {
      filter: invert(22%) sepia(66%) saturate(6484%) hue-rotate(353deg) brightness(92%) contrast(128%);
    }
  }
}

.place-fave {
  border: none;
  background: none;
}

@media only screen and (max-width: 992px) {
  .place-container {
    grid-template-columns: 1fr 1fr;
  }

  .main-container {
    flex-direction: column-reverse;
    #map {
      width: auto;
      margin-bottom: 16px;
    }
  }
}
