<%= simple_form_for @dog, :url => update_user_dog_path(@dog) do |f| %>
  <%= f.input :name,
              required: true %>
  <%= f.input :my_story,
              required: true %>
  <div class="form-actions">
    <%= f.button :submit, "update" %>
  </div>

<% end %>
