<div class="footer">
  <div class="container">
      <nav class="row">
        <section class="col-sm-12 col-md-6 col-lg-4">
          <h3 class="fancy">Company Info</h3>
            <ul class="footer-buttons" style="padding: 0;">
              <li>
                <a href="/about">About Retrievr</a>
              </li>
              <li>
                <a href="#">Promotions</a>
              </li>
              <li>
                <a href="#">Tell a friend!</a>
              </li>
            </ul>
        </section>

        <section class="col-sm-12 col-md-6 col-lg-4">
          <h3 class="fancy">Partners</h3>
            <ul class="footer-buttons" style="padding: 0;">
              <li>
                <a href="#">Advertise with us</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Pet Charities</a>
              </li>
            </ul>
        </section>

        <section class="col-sm-12 col-md-6 col-lg-4">
          <h3 class="fancy">Customer Services</h3>
            <ul class="footer-buttons" style="padding: 0;">
              <li>
                <a href="#">Contact us</a>
              </li>
              <li>
                <a href="#">Cancel Orders</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
            </ul>
        </section>
      </nav>

      <div id="footer-social">
        <h3>Talk to us!</h3>
        <div class="footer-contacts">
          <p id="info-body" class="editorial">Need help finding a pet friendly hotel, restaurant, or animal attraction? Contact our Canine Concierge at</p>
          <a href="tel:+628-777-888">777 888</a>
          <p style="display: inline">&nbsp;or</p>
          <a href="mailto:hello@retrievr.com">hello@retrievr.com</a>
        </div>

        <div id="twitter-tag">
          <a href="#">#retrievr</a>
        </div>

        <p id="footer-social-icons">
          <a href="#"><i class="fab fa-instagram" style="font-size: 20px; margin-right: 8px;"></i></a>
          <a href="#"><i class="fab fa-facebook" style="font-size: 20px; margin-right: 8px;"></i></a>
          <a href="#"><i class="fab fa-twitter" style="font-size: 20px;"></i></a>
        </p>
      </div>

      <div id="footer-sub">
        <div class="container">
          <div id="copyright-inline">
             © 2019 Retrievr.
          </div>
          <div class="importants">
            <a href="/privacy/">Privacy Policy</a>
            <a href="/terms/">Terms &amp; Conditions</a>
            <a href="/sitemap/">Sitemap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
