<div class="footer">
  <div class="container">
<!--     <div class="d-flex">
 -->      <nav class="row">
        <section class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="fancy">Company Info</h3>
            <ul style="padding: 0;">
              <li>
                <a href="/about">About Retrievr</a>
              </li>
              <li>
                <a href="#">Promotions</a>
              </li>
              <li>
                <a href="#">Tell a friend!</a>
              </li>
              <li>
                <a href="#">We are hiring!</a>
              </li>
            </ul>
        </section>
        <section class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="fancy">Partners</h3>
            <ul style="padding: 0;">
              <li>
                <a href="#">Advertise with us</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Pet Charities</a>
              </li>
            </ul>
        </section>
        <section class="col-sm-12 col-md-6 col-lg-3">
          <h3 class="fancy">Customer Services</h3>
            <ul style="padding: 0;">
              <li>
                <a href="#">Contact us</a>
              </li>
              <li>
                <a href="#">Cancel Orders</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
            </ul>
        </section>
           <section class="col-sm-12 col-md-6 col-lg-3">
            <h3 class="fancy">Talk to Us!</h3>
            <p>Need help finding a pet friendly hotel, restaurant, or animal attraction? Contact our Canine Concierge at</p>
            <span><a href="tel:+628-777-888">+628-777-888</a>
            <p style="display: inline">&nbsp;or</p>
            <a href="mailto:hello@retrievr.com">hello@retrievr.com</a></span>
            <div class="footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </section>
      </nav>
<!--     </div>
 -->    <hr>
      <div class="footer-copyright">
        <a href="#">© 2019 Retrievr</a>
        <a href="/privacy/">Privacy Policy</a>
        <a href="/terms/">Terms &amp; Conditions</a>
        <a href="/sitemap/">Sitemap</a>
      </div>
  </div>
</div>
