<!-- <h1>Orders#destroy</h1>
<p>Find me in app/views/orders/destroy.html.erb</p>

 -->

<%= link_to 'Destroy', order_path(order),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
