.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url('ocean.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  h1 {
    text-align: center;
    padding-top: 30vh;
    color: #FF5959;
    font-size: 72px;
    font-family: $title-font;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
  }
  h3 {
    color: white;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
  }
}
