.btn-su {
  background-color: #FFA605;
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  &:hover {
    background-color: #ce804a;
  }
}

.btn-red {
  color: red !important;
}

.submit {
  width: 100%;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

button:focus {
  outline: none;
}

.back-act {
  color: #FFA605;
  &:hover {
  	color: #d68902;
  	text-decoration: none;
  }
}
.btn {
  max-width: none !important;
}

.button_to {
  button {
    background: none;
    border: none;
    margin-top: 4px;
  }
}
