.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  a {
    text-decoration: none;
  }
}

.card {
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover .card-content {
    visibility: visible;
  }
  .activity-link {
    color: black;
    text-decoration: none;
  }
  .card-action {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 32px;
  }
  .card-favorite {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 24px;
    button {
      color: white;
      background: none;
      border: none;
      &:hover {
        color: rgba(210, 210, 210, 1);
      }
      &:active {
        color: $red;
      }
    }
  }
}

.card-content {
  visibility: hidden;
  .card-name, .card-description {
    color: white;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-content {
    visibility: visible;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-content {
    visibility: visible;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-content {
    visibility: visible;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-content {
    visibility: hidden;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
