section ul {
  list-style: none;
}

.footer {
  background-color : #FFA605;
  font-color: white;
  margin-bottom: .8em;
  position: relative;
  max-width: 100%;
  text-align: center;
  margin-top: 80px;
  font-size: 14px;
}

// margin-bottom: .8em;

#footer-social p {
    color: rgba(255,255,255,.7);
    margin-bottom: 30px;
}

#footer-social h3{



}
