section ul li {
  text-align: left;
  margin: 0 1.5%;
  width: 63%;
  float: left;
  list-style: none;
  a {
    color: white;
  }
}

section {
  span a {
    color: white;
  }
}

.footer-links a {
  font-size: 20px;
  color: white;

.footer-buttons {
  li {
    a {
      color: white;
    }
  }
}

.footer-contacts {
  p, a {
    color: white;
  }
}

#twitter-tag {
  a {
    color: white;
  }
}

.fancy {
  text-align: left;
  text-decoration: underline;
  font-size: 20px;
  padding-top: 16px;
}

.footer {
  background-color : #FFA605;
  color: white;
  position: relative;
  max-width: 100%;
  font-size: 14px;
  line-height: 1.5;
}

#footer-social p {
  color: rgba(255,255,255,.7);
  margin-bottom: 30px;
}

#footer-social h6 {
  color: white;
}

#footer-social-icons {
  display: flex;
  align-items: center;
}

.footer-copyright {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;

#footer-sub {
  padding: 20px 0px;
}

#footer-social-icons {
  a {
    color: white;
  }
}
