.list-group {
  .review-content {
    display: grid;
    grid-template-columns: 200px auto;
  }
}

.review-ratings {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.list-inline li {
  display: inline;
}


.list-group-item, .card-reviews {
  background-color: #FFFAF7;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
