// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.main-links {
  li {
    a {
      color: orange !important;
      &:hover {
        color: #F9A468;
      }
    }
  }
}

.main-links, .dropdown {
  text-align: center;
  font-size: 20px;
}

.navbar {
  .logo {
    width: 40px;
    height: 40px;
  }
}

.secondary-links {
  color: #F9A468;
}

.nav-item {
  &:hover {
    border-bottom: 3px solid orange;
  }
}

.non-login:nth-of-type(1) {
  a:hover {
    color: #ce804a;
  }
}

.non-login {
  &:hover {
    border-bottom: none !important;
  }
  a {
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .login-link {
    margin-right: 3rem;
  }
}

.navbar.bg-light {
    background-color: white !important;
    justify-content: space-between;
    border: 1px solid rgb(235,235,235);
}
