// .searchbar {
//   width: 450px;
//   height: 40px;
//   border-radius: 5px;
//   margin-bottom: 16px;
// }

// .search-form {
//   height: 100%;
//   .search-form-text {
//     width: 100%;
//     height: 100%;
//     border-radius: 5px;
//     padding: 8px;
//   }
//   .search-form-text::placeholder {
//     background: url('search_icon.png') no-repeat left center;
//     background-size: contain;
//     text-align: center;
//     font-size: 24px;
//   }
// }


.search-form-control {
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.search-form-control .btn-flat {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #lightgrey;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  color: #454545;
  font-weight: light;
  padding: 8px 24px;
  border-radius: 4px;
  background: #lightgrey;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #grey;
  color: #454545;
  font-weight: light;
}