<div class="filter-dropdown">
  <div class="dropdown-content dropdown-hide" id="dropdownFilter">
    <div class="dropdown-container">
      <div class="price-filter mb-2">
        <p id="category"><strong>Price</strong></p>
        <div class="price-params">
          <%= link_to 'Price DESC', activities_path(price: 'DESC'), remote: true %>
        </div>
      </div>

      <div class="category-filter">
        <p id="category"><strong>Category</strong></p>
        <ul class="category">
          <% @activities.all.map {|a| a.category}.uniq.each do |cat| %>
            <li>
              <%= link_to cat, activities_path(category: cat), remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="reset-filter">
        <p id="category"><strong>Reset filter</strong></p>
        <%= link_to 'Reset', activities_path, remote: true %>
      </div>
    </div>
  </div>
</div>
