<div class="container">
  <h2>Events</h2>
  <div class="filter">
    <p>Filter</p>
    <i class="fas fa-arrow-down dropdown-filter"></i>
  </div>

  <%= render 'filter' %>

  <br>

  <div class="cards">
    <%= render 'cards' %>
  </div>
</div>
