<div class="activity-body">
  <div class="container">
    <div class="filter-grid my-2">
      <h2>Events</h2>
      <div class="filter">
        <p>Filter</p>
        <i class="fas fa-arrow-down dropdown-filter"></i>
      </div>
    </div>

    <%= render 'filter' %>

    <br>

    <%= render 'cards' %>
  </div>

  <div class="text-center">
  <%= link_to new_activity_path do %>
  <button type="button" class="user-btn"> Add New Event </button>
<% end %>
</div>
<br>
</div>

