<div class="container">
  <h2 class="text-center my-3" style="color: #FF5959">Events</h2>

  <div class="sides">
    <%= render 'filter' %>
    <%= render 'cards' %>
  </div>
</div>

<div class="text-center">
  <%= link_to new_activity_path do %>
    <button type="button" class="user-btn"> Add New Event </button>
  <% end %>
</div>
