<h1>Places to Go</h1>

<%= link_to new_place_path do %>
  <i class="fas fa-plus-circle">Add a new place</i>
<% end %>

<% @places.each do |place| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to place.name, place_path(place) %>

      <% if policy(place).update? %>
        <%= link_to edit_place_path(place) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>

      <% if policy(place).destroy? %>
        <%= link_to place_path(place), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </li>
  </ul>
<% end %>
